In [ ]:
# FNCE 471 Final Project Gauri Lad
# The predictability of option sentiment measure (put-call, option-to-stock) on stock returns.
from google.colab import drive
drive.mount('/content/drive')
import os
os.chdir("/content/drive/My Drive/FNCE 471/Working File")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Reading CSV file
import re
import csv
import pandas as pd
path=pd.read_csv("ISEE-Index-20231202-061902.csv")
path.columns=path.columns.str.title()
print(path.head())

       Date  All Securities  10 Avg  20 Avg  50 Avg  All Equities  10 Avg.1  \
0  1/3/2006             149       0       0       0           212         0
1  1/4/2006             180       0       0       0           218         0
2  1/5/2006             195       0       0       0           264         0
3  1/6/2006             144       0       0       0           226         0
4  1/9/2006             188       0       0       0           256         0

   20 Avg.1  50 Avg.1  All Etfs  ...  50 Avg.2  Unnamed: 13  Unnamed: 14  \
0         0         0        49  ...         0          NaN          NaN
1         0         0        74  ...         0          NaN          NaN
2         0         0        38  ...         0          NaN          NaN
3         0         0        28  ...         0          NaN          NaN
4         0         0        45  ...         0          NaN          NaN

   Unnamed: 15  Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 20  Unnamed: 21
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN

[5 rows x 22 columns]

In [ ]:
#his part of the code selects specific columns from the DataFrame path. It creates a new DataFrame containing only the 'Date' and 'All Equities' columns.
path=path[['Date','All Equities']]
print(path.head())

       Date  All Equities
0  1/3/2006           212
1  1/4/2006           218
2  1/5/2006           264
3  1/6/2006           226
4  1/9/2006           256

In [ ]:
path2=pd.read_csv("^SPX.csv")
print(path2.head())
print(type(path2))

       Date         Open         High          Low        Close    Adj Close  \
0  1/3/2006  1248.290039  1270.219971  1245.739990  1268.800049  1268.800049
1  1/4/2006  1268.800049  1275.369995  1267.739990  1273.459961  1273.459961
2  1/5/2006  1273.459961  1276.910034  1270.300049  1273.479980  1273.479980
3  1/6/2006  1273.479980  1286.089966  1273.479980  1285.449951  1285.449951
4  1/9/2006  1285.449951  1290.780029  1284.819946  1290.150024  1290.150024

       Volume
0  2554570000
1  2515330000
2  2433340000
3  2446560000
4  2301490000
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Inserting new column called Daily Return in path2 data frame & calculating Daily Return
path2['Daily_Return'] = ((path2['Close'] - path2['Close'].shift(1)) / path2['Close'].shift(1)) * 100
print(path2[['Date', 'Close', 'Daily_Return']])

            Date        Close  Daily_Return
0       1/3/2006  1268.800049           NaN
1       1/4/2006  1273.459961      0.367269
2       1/5/2006  1273.479980      0.001572
3       1/6/2006  1285.449951      0.939942
4       1/9/2006  1290.150024      0.365636
...          ...          ...           ...
4503  11/24/2023  4559.339844      0.059687
4504  11/27/2023  4550.430176     -0.195416
4505  11/28/2023  4554.890137      0.098012
4506  11/29/2023  4550.580078     -0.094625
4507  11/30/2023  4567.799805      0.378407

[4508 rows x 3 columns]

In [ ]:
# Save the updated DataFrame back to the CSV file
path2.to_csv("/content/drive/My Drive/FNCE 471/Working File/^SPX_updated.csv", index=False)

In [ ]:
# Merge the datasets based on the 'Date' column and removing NaN
merged_data=pd.merge(path,path2, on='Date', how='inner')
merged_data = merged_data.dropna()
print(merged_data.head())

        Date  All Equities         Open         High          Low  \
1   1/4/2006           218  1268.800049  1275.369995  1267.739990
2   1/5/2006           264  1273.459961  1276.910034  1270.300049
3   1/6/2006           226  1273.479980  1286.089966  1273.479980
4   1/9/2006           256  1285.449951  1290.780029  1284.819946
5  1/10/2006           249  1290.150024  1290.150024  1283.760010

         Close    Adj Close      Volume  Daily_Return
1  1273.459961  1273.459961  2515330000      0.367269
2  1273.479980  1273.479980  2433340000      0.001572
3  1285.449951  1285.449951  2446560000      0.939942
4  1290.150024  1290.150024  2301490000      0.365636
5  1289.689941  1289.689941  2373080000     -0.035661

In [ ]:
# Performing Linear Regression on merged data frame and printing the score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
# Extracting features (X) and target variable (y)
X= merged_data[['All Equities']]
y= merged_data['Daily_Return']
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.3, random_state=42)
Ir=LinearRegression()
Ir.fit(X_train, y_train)
print(Ir.coef_)
print(Ir.intercept_)
print(Ir.score(X_train, y_train))
print(Ir.score(X_test, y_test))

[0.0046934]
-0.6804957853745122
0.02299204200472371
0.022352942795029862